<div class="search-main">
  <mat-card class="search-card">
    <mat-card-title class="search-card-title">
      <img [src]="'/assets/logo.png'" />
    </mat-card-title>
    <mat-card-content class="search-card-content">
      <mat-form-field class="search-card-form" appearance="outline">
        <input
          matInput
          type="search"
          [formControl]="searchControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of this.filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="search-card-actions">
      <button
        (click)="search()"
        class="button"
        mat-raised-button
        color="primary"
      >
        Search!
      </button>
    </mat-card-actions>
  </mat-card>
</div>
